.filter-main {
    height: fit-content;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
    
    justify-content: flex-start;
    .section-one, .section-two {
        flex-grow: 1;
        height: 49px;
    }
    .section-two {
    
        .text-input-filter { 
                height: 100%;
                width: 100%;
                padding: 5px;
            
        }
    }
    .section-between {
        flex-grow: 2;
        
        height: 49px;
        align-self: flex-start;
        padding-top:5px;
        .inner {
            height: 100%;
            .no-filter {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            border-radius: 8px;
            padding: 2px;
            .text-input-filter { 
                height: 40px;
                width: 100%;
                padding: 5px;
        }
        }
    }

    .section-two {
        align-self: flex-start;
        padding-top: 5px;
        justify-self: flex-end;
        flex-grow: 1;
        .sort {
            border-radius: 8px;
            padding: 2px;
        }
    }
    .section-one {
        padding-top: 5px;

        .section-one-one {
            border-radius: 8px;
            padding: 2px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            
        }
    }
    
    
}

