/** @format */

.add-solutions-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 10px;
	gap: 10px;
	.add-solution-submit,
	.abort-solution-submit {
		height: 50px;
	}
	.add-form {
		padding: 0px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
