/** @format */

.solution-list-row,
.solution-list-columns {
	display: flex;
	flex-shrink: 0;
	border: 0.2px solid rgba(0, 0, 0, 0.384);
	border-radius: 18px;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: fit-content;
	max-height: 200px !important;
	padding: 10px;
	overflow: hidden;
	.author, .category, .description {
		padding-left: 11px;
	}
	.row-group-md,
	.row-group-lg {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
 
	.row-group-md {
		width: 60%;
		justify-content: flex-start;
		.title {
			width: 20%;
		}
		.category,
		.author {
			width: 10%;
		}
		.category {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			padding-left: 10px;
			margin-left: 5px;
			flex-grow: 1;
		}
	}
	.row-group-lg {
		display: flex;
		justify-content: left;
		width: 40%;
		
		flex-wrap: wrap !important;
		overflow-x: hidden;
		overflow-y: scroll;

		border-radius: 18px;
		.description {
			display: flex;
			flex-wrap: wrap;
		}
		
	}
}
.solution-list-columns {
	height: fit-content;
	border: none;
	padding: 5px;
	z-index: 2;
		.row-group-lg {
		background-color: transparent !important;
	}
	.description {
		align-items: center;
	}
}
.solution-list-row {
	margin-bottom: 10px;
}
.solution-list-row:hover {
	
	border: 1px solid black;
}
.column-container {

	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 100%;
	gap: 0;
	backdrop-filter: blur(5px);
	padding-top: 10px;
	.filter-inputs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		
		gap: 10px;
		.text-inp,
		.select {
			width: 50%;
			z-index: 3;
		}
		.text-inp {
			.filter-t-input {
				width: 90%;
				border: none;
				border-bottom: 1px solid black;
				height: 100%;
				margin-right: 10px;
			}
		}
	}
}
@media (max-width: 800px) {
	.author {
		display: none !important;
	}
  }
  @media (max-width: 500px) {
	.category {
		display: none !important;
	}
	.title {
		width: 100% !important;
	}
	.row-group-md {
		width: 30% !important;
	}
	.row-group-lg {
		width: 70% !important;
	}
  }
  @media (max-width: 400px) {
	
	.title {
		width: 100% !important;
	}
	.row-group-lg {
		display: none !important;
	}
	.row-group-md {
	width: 100% !important;
	}
	.solution-list-row {
		height: fit-content;
	}
	.solution-list-columns {
		display: none;
	}
  }