/** @format */

.solution-list-row,
.solution-list-columns {
	display: flex;
	flex-shrink: 0;
	border: 0.5px solid black;
	border-radius: 4px;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 100px;
	padding: 10px;
	overflow: scroll;
	.row-group-md,
	.row-group-lg {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
	.row-group-md {
		width: 60%;
		justify-content: flex-start;
		.title {
			width: 20%;
		}
		.category,
		.author {
			width: 10%;
		}
		.category {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			padding-left: 10px;
			margin-left: 5px;
			flex-grow: 1;
		}
	}
	.row-group-lg {
		justify-content: left;
		width: 40%;
	}
}
.solution-list-columns {
	height: fit-content;
	border: none;
	padding: 5px;
	z-index: 2;
}
.solution-list-row {
	margin-bottom: 10px;
}
.solution-list-row:hover {
	font-weight: bolder;
	border: 1px solid black;
}
.column-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	gap: 0;
	backdrop-filter: blur(5px);
	.filter-inputs {
		display: flex;
		flex-direction: row;
		.text-inp,
		.select {
			width: 50%;
			z-index: 3;
		}
	}
}
