/** @format */

.solution-list-row,
.solution-list-columns {
	margin-top: 10px;
	display: flex;
	flex-shrink: 0;
	border: 1px solid black;
	border-radius: 4px;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 100px;
	padding: 10px;
	.row-group-md,
	.row-group-lg {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
	.row-group-md {
		width: 40%;
		justify-content: flex-start;
		.title {
			width: 20%;
		}
		.category,
		.author {
			width: 10%;
		}
	}
	.row-group-lg {
		justify-content: center;
		width: 60%;
	}
}
.solution-list-columns {
	height: fit-content;
	border: none;
	padding: 10px;
}
