/** @format */

.footer-container {
	width: 100vw;
	height: 40px;
	background-color: rgb(0, 236, 189);
	border-top: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
